body {
font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
background-image: url("tillt1.png");
}

img {
max-width: 100%;
height: auto;
display:block;
}

.container {
margin: 0px auto;
max-width: 960px;
background-image: url("pop1.png");
}

.content {
border: 2px solid #000000;
text-align: center;
height: 600px;
}

a:link       {color:#DC143C;text-decoration:none;}
a:visited    {color:#DC143C;text-decoration:none;}
a:hover      {color:#DC143C;text-decoration:none;}
a:active     {color:#DC143C;text-decoration:none;}

h1 {
font-size: 32px;
}

h2 {
font-size: 70px;
}

.log {
font-weight:bold;
}

.back {
font-size: 30px;
font-weight:bold;
}

table {
background-color:#FFFFFF;
border: 2px solid #000000;
font-size:30px;
width:100%;
height:80%;
}
